<div class="page-header">
  <h3>Collaborator #<%= @collaborator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>List</dt>
      <dd><%= @collaborator.list_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/collaborators" class="btn btn-primary">
        Back
      </a>
      <a href="/collaborators/<%= @collaborator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_collaborator/<%= @collaborator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
